.Product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 20%;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;

  transition: transform 0.3s ease-in-out;
}
.Product_card img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  margin: 0%;
  object-fit: cover;
}

.Product_card:hover {
  transform: scale(1.05);
}

.item_prices {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: poppins;
}
.item_price_new {
  color: #27ae60; /* Green for discounted price */
}
.item_price_old {
  color: #e74c3c; /* Red for old price */
  text-decoration: line-through;
}
